@import './tokens';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  color: $color-surface-1;
  background-color: $color-surface-2;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// img,
// video {
//   max-width: 100%;
//   height: auto;
//   display: block;
// }

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
  &:hover {
    color: $color-surface-4;
  }
}

// ========== Typography ==========
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

p {
  margin: 0 0 1em;
}

// 預設字體層級（桌機）
.typo-display {
  font-size: $fs-display;
  line-height: $lh-display;
  letter-spacing: $ls-0;
  font-weight: $font-weight-bold;
}

.typo-headline {
  font-size: $fs-headline;
  line-height: $lh-headline;
  letter-spacing: $ls-0;
  font-weight: $font-weight-semibold;
}

.typo-title {
  font-size: $fs-title;
  line-height: $lh-title;
  letter-spacing: $ls-0;
  font-weight: $font-weight-regular;
}

.typo-body {
  font-size: $fs-body;
  line-height: $lh-body;
  letter-spacing: $ls-05pt;
  font-weight: $font-weight-regular;
}

.typo-label {
  font-size: $fs-label;
  line-height: $lh-label;
  letter-spacing: $ls-05pt;
  font-weight: $font-weight-regular;
}

// ========== RWD Tablet  Mobile==========
@media (min-width: 768px) and (max-width: 1919.98px) {
  .typo-display {
    font-size: $fs-display-tablet;
    line-height: $lh-display-tablet;
  }
  .typo-headline {
    font-size: $fs-headline-tablet;
    line-height: $lh-headline-tablet;
  }
  .typo-title {
    font-size: $fs-title-tablet;
    line-height: $lh-title-tablet;
  }
  .typo-body {
    font-size: $fs-body-tablet;
    line-height: $lh-body-tablet;
    letter-spacing: $ls-05pt;
  }
  .typo-label {
    font-size: $fs-label-tablet;
    line-height: $lh-label-tablet;
    letter-spacing: $ls-05pt;
  }
}

@media (max-width: 767.98px) {
  .typo-display {
    font-size: $fs-display-mobile;
    line-height: $lh-display-mobile;
  }
  .typo-headline {
    font-size: $fs-headline-mobile;
    line-height: $lh-headline-mobile;
  }
  .typo-title {
    font-size: $fs-title-mobile;
    line-height: $lh-title-mobile;
  }
  .typo-body {
    font-size: $fs-body-mobile;
    line-height: $lh-body-mobile;
    letter-spacing: $ls-body-mobile;
  }
  .typo-label {
    font-size: $fs-label-mobile;
    line-height: $lh-label-mobile;
    letter-spacing: $ls-label-mobile;
  }
}

// ========== Utility ==========
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
}

// ========== buttonCostum ==========

 .buttonCostum{
  background-color: $color-primary-3;
  color: $color-surface-2;
  border: none;  
  border-radius: 87px;
  padding: 12px 24px; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-surface-4;   
    color: $color-surface-2;
    
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
  }

  &:active {    
    box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
}
