main {
    margin-top: 0;
    padding-top: 0;
}

.hero {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    height: 900px;

    &__intro {
        height: 900px;
    }

    &__portfolio {
        position: relative;
        width: fit-content;
        margin-left: auto;
    }

    &__photo {
        display: block;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        width: 400px;
        height: auto;
    }

    /* ===== 1920 以上 pc ===== */
    @media (min-width: 1920px) {
        &__photo--front {
            position: absolute;
            z-index: 2;
            top: 200px;
            right: 190px;
        }

        &__photo--back {
            position: relative;
            top: -90px;
            right: -190px;
            z-index: 1;
        }
    }

    /* ===== 768 ~ 1919.98 tablet ===== */
    @media (min-width: 768px) and (max-width: 1919.98px) {
        height: 900px;

        &__portfolio {
            margin-top: 154px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        &__photo,
        &__photo--back {
            width: 308px;
        }
    }

    /* ===== 360 ~ 767.98 moblie===== */
    @media (max-width: 767.98px) {
        height: 448px;

        &__intro {
            height: 448px;
        }

        &__portfolio {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        &__photo,
        &__photo--back {
            width: 112px;
        }
    }
}


.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/salon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;

    @media (min-width: 768px) and (max-width: 1919.98px) {
        background-color: rgba(255, 255, 255, 0.3);
    }

    @media (max-width: 767.98px) {
        background-color: rgba(255, 255, 255, 0.2);
    }
}


/* span  */
.hero__intro__span {
    text-align: left;

    @media (min-width: 768px) and (max-width: 1919.98px) {
        text-align: center;
        display: block;
    }
}