.bookingcontact {
    height: 800px;

    @media (max-width: 767.98px) {
        height: 500px
    }
}

.bookingcontact__contact {
    margin-top: 0px;

    @media (max-width: 767.98px) {
        margin-top: 20px;
    }
}

.bookingcontact__icon {
    width: 60px;
    height: 60px;

    @media (min-width: 768px) and (max-width: 1919.98px) {
        width: 47px;
        height: 47px;
    }

    @media (max-width: 767.98px) {
        width: 32px;
        height: 32px;
    }
}

.contact__buttonCostum {
    background-color: $color-primary-3;
    color: $color-surface-2;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 87px;
    height: 40px;
    width: 111px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) and (max-width: 1919.98px) {
        font-size: 16px;
        height: 48px;
        width: 110px;
    }

    @media (max-width: 767.98px) {
        font-size: 14px;
        height: 40px;
        width: 100px;
    }

    &:hover {
        background-color: $color-surface-4;
        color: $color-surface-2;

        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
        transform: translateY(1px);
    }
}