.about {
    height: 500px;
    background-image: url("../assets/home/tools.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    

    @media (min-width: 768px) and (max-width: 1919.98px) {
        height: 348px;
    }

    @media (max-width: 767.98px) {
        height: 348px;
        background-image: url("../assets/home/tools2.png");
        background-size: 100% 100%;
    }
}

.about__text {
    padding-top: 100px;

    @media (min-width: 768px) and (max-width: 1919.98px) {
        padding-top: 35px;
    }

    @media (max-width: 767.98px) {
        background-position: bottom;
        padding-top: 20px;
    }
}
.about__env {
  border-bottom: 2px solid var(--color-surface-4);
  @media (min-width: 768px) and (max-width: 1919.98px) {
       border-bottom: 2px solid var(--color-primary-1);
    }
}
