.portfolio__row-nogutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.portfolio__image-scroll-container {
  display: flex;
  gap: 32px;      /* 每張圖片固定間距 */
  overflow-x: auto;
  scroll-behavior: smooth;
}


/* 高度主導、維持比例 */
.portfolio__img {
  display: block;
  height: 455px;
  width: auto;
  object-fit: contain;
}

/* 平板 */
@media (max-width: 1919px) and (min-width: 768px) {
  .portfolio__img { height: 335px; }
}

/* 手機 */
@media (max-width: 767px) {
  .portfolio__img { height: 173px; }

}

/* 讓文字 + 線同一排，垂直置中 */
.portfolio__title {  
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px; /* 文字跟線的間距，可調 */
}

/* 客製 hr */
.portfolio__hr {
  align-self: stretch;
  height: 4px;
  border: none; 
  margin: 0;
  background-color: var(--color-primary-2); /* ★ 上色 */
  opacity: 1
}