.about {
    height: 500px;
    background-image: url("../assets/home/tools.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    

    @media (min-width: 768px) and (max-width: 1919.98px) {
        height: 348px;
    }

    @media (max-width: 767.98px) {
        height: 348px;
        background-image: url("../assets/home/tools2.png");
        background-size: 100% 100%;
    }
}

.about__text {
    padding-top: 100px;

    @media (min-width: 768px) and (max-width: 1919.98px) {
        padding-top: 35px;
    }

    @media (max-width: 767.98px) {
        background-position: bottom;
        padding-top: 20px;
    }
}

/* ============ About Env ============ */
.about__env {
  position: relative;
  overflow: hidden;

  &-inner {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%); 
  }

  &-title {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &-swiper {
    width: 100%;
  }

  /*  1920  */
  @media (max-width: 1919.98px) {
   
    &-swiper-clip {
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      position: relative; 
    }

    
    &-swiper-clip .interior-carousel {
      width: 100vw;
      margin: 0;
      padding-right: 0;
     
    }

    /* ========== 左側遮罩 ========== */

    /* < 1200 */
    @media (max-width: 1199.98px) {
      &-swiper-clip::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 28px; 
        background-color: var(--color-page-bg, #ffffff); 
        pointer-events: none;
        z-index: 9; 
      }
    }

    /* 1200 ~ 1919*/
    @media (min-width: 1200px) and (max-width: 1249.98px) {
      &-swiper-clip::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc((100vw - 1200px) / 2 + 28px); 
        background-color: var(--color-page-bg, #ffffff);
        pointer-events: none;
        z-index: 9;
      }
    }

      
    @media (min-width: 1250px) and (max-width: 1919.98px) {
      &-swiper-clip::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc((100vw - 1200px) / 2 ); 
        background-color: var(--color-page-bg, #ffffff);
        pointer-events: none;
        z-index: 9;
      }
    }
  }

  /* ============ 1920 ============ */
  @media (min-width: 1920px) {
    &-inner {
      display: grid;
      grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
      align-items: center;

      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    &-title {
      margin-bottom: 0;
    }

   
    &-title .container {
      max-width: none;
      margin: 0;
      padding-left: calc((100vw - 1200px) / 2);
      padding-right: 0;
    }

    &-title .row {
      margin-left: 0;
      margin-right: 0;
    }

    
    &-swiper-clip {
      width: 100%;
      margin: 0;
      transform: none;
      overflow: visible;
      position: static;
    }

    &-swiper-clip::before {
      content: none;
    }

    &-swiper-clip .interior-carousel {
      width: 100%;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
