.portfolio__row-nogutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.portfolio__image-scroll-container {
  display: flex;
  gap: 45px;
  overflow-x: auto;
  scroll-behavior: smooth;

  max-width: 100%;
  white-space: nowrap;

  /* 隱藏捲軸 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.portfolio__image-scroll-container::-webkit-scrollbar {
  display: none;
}

.portfolio__img {
  display: block;
  height: 455px;
  width: auto;
  object-fit: contain;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.portfolio__title {  
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.portfolio__hr {
  align-self: stretch;
  height: 4px;
  border: none; 
  margin: 0;
  background-color: var(--color-primary-2);
  opacity: 1;
}


@media (max-width: 1919px) and (min-width: 768px) {
  .portfolio__img { height: 335px; }
  .portfolio__image-scroll-container{gap:20px;}
}


@media (max-width: 767px) {
  .portfolio__img { height: 173px; }
  .portfolio__image-scroll-container{gap:10px;}
  .portfolio__title {width: 90%;}
}